.container{
   background-color: rgb(236, 234, 233);
   /* width: 100%; */
   height:100%;
   margin: 30px 10px;
   border-radius: 10px;
}
.container h2{
   text-align: center;
   padding: 30px;
   font-size: 40px;
}
.container p{
   text-align: center;
}

.image{
   background-color: white;
   height: 710px;
   margin: 15px;
}
.image img{
   transform: translate(70px,30px);
}
.image p{
   margin-top: 40px;
}

*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}
.contain h3{
   text-align: center;
   padding: 20px;
   font-family: sans-serif;
}
.listItem {
   display: flex;
   justify-content: center;
   align-items: center;

}
.listItem li{
   padding: 5px 0;

}