.container {
  background-color: rgb(236, 234, 233);

  /* width: 100%; */
  height: 100%;
  margin: 30px 10px;
  border-radius: 10px;
}

.container h2 {
  text-align: center;
  padding: 30px;
  font-size: 40px;
}

.container p {
  text-align: center;
}

#img-div img {
  transform: translate(70px, 30px);
}

.listItem p {
  margin-top: 40px;
}

#img-div p {
  margin-top: 40px;
}

#img-div {
  background-color: white;
  height: auto;
  margin: 15px;
  max-width: 100%;
  display: block;
}

#image {
  max-width: 100%;
  display: block;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.listItem li {
  padding: 5px 0;
}

.contain .mainList {
  margin-left: 290px;
  margin-top: 20px;
}

.contain h3 {
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
}

.listItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
